
.Header {
    text-align: center;
    background-color: black;
    color: white;
}

.CourseContainer {
    margin-left: 2.5rem;
    margin-top: 2rem;
}

.Course2 {
    margin-top: 2rem;
}

.Course3 {
    margin-top: 2rem;
}

.Course4 {
    margin-top: 2rem;
}

.Course5 {
    margin-top: 2rem;
}